body {
  font-family: sans-serif;
}
#container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 700px;
  display: grid;
}
.logo {
  border-radius: 50%;
}
.primeiro {
  border: 2px solid black;
  margin-top: 15px;
  padding: 10px;
}
.segundo {
  border: 2px solid black;
  margin-top: 15px;
  padding: 10px;
}
.terceiro {
  border: 2px solid black;
  margin-top: 15px;
  padding: 10px;
}
button {
  background-color: hsl(216, 98%, 53%);
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 120px;
}
#footer {
  position: relative;
  top: 90px;
}
.titulo {
  text-align: center;
  padding: 15px;
  color: white;
  background-color: hsl(216, 98%, 53%);
}
#botoes{
  display: inline;
  margin-top: 20px;
}
